%html

%h1 Release Dates


<table border="1">
<th>October</th>
<th>Date</th>
<tr>
<td style="background-image: url('/images/air jordan 14.jpg'); background-repeat: no-repeat; width: 600px; height: 500px;"> </td>
<td>10/08/11</td>
</tr>
<tr>
<td style="background-image: url('/images/nike lebron 9.jpg'); background-repeat: no-repeat; width: 600px; height: 500px;"> 1</td>
<td>10/25/11</td>
</tr>
</table>





