%h1 Sell Your Exoctics!
%h2 Please fill out all information below

//%form_for :sell_shoe_path(shoe), :html => {:multipart => true} do |form|
//%form.file_field :shoe_images


// render :partial => 'form', :locals => {:sell_shoe_path => @shoe}sell_shoe_path(shoe)

= render 'form'
= link_to 'Back', sell_shoes_path

