#header
  padding: 30px
  margin: -3px
  border: 10px solid black
  overflow: hidden
  width: 600px
  height: 25px
  p.one
  border-style: groove
  border-color: white
  p.two
  border-style: groove
  border-color: #8A0808
  
  
#slogan
  background: #000000
  padding: 0px
  margin: -30px
  border: 1px solid white
  height: 82px
  width: 200px
  overflow: hidden
  border-style: dotted
  
  
#container
  padding: 30px
  margin: -3px
  border: 5px solid black
  overflow: hidden
  width: 610px
  height: 28px
  border-style: groove

  
#left
  background-image: url('/images/bin 23 jordans.jpg')
  padding: 0px
  margin: -30px
  border: 1px solid white
  height: 85px
  width: 360px
  overflow: hidden
  border-style: dotted
  float: left
  
#right
  background: #8A0808
  padding: 0px
  margin: -30px
  border: 1px solid white
  height: 85px
  width: 350px
  overflow: hidden
  border-style: dotted
  float: right

body
  padding: 0
  margin: -10
  background: #2E2E2E

    width: 100%
    border: 200px
      
  .user.actions
    float: right
    width: 125px
        
#sidebar
  float: right
  left: 85%
  width: 15%
  height: 100%
  
  .sidebar_content
    padding: 15px
    
  
  .content
    padding: 30px
    
#footer
  padding: 30px
  
  
