body
  background-image: url('/images/wood background 2.gif')
  background-color: #F7FE2E
  color: #FFFFFF
  font-family: verdana, arial, helvetica, sans-serif
  font-size: 13px
  line-height: 18px



#menuBar
  width: 500px
  margin-left: 20%
  background-color: black
  border-color: solid black
  padding: 4px 2px 4px 2px
  text-align: center
  float: left
  border-style: dotted
  
#login
  float: right
  overflow: hidden
  padding: 3px
  margin: -30x

  overflow: hidden

#main
  width: 70%
  margin-left: auto
  margin-right: auto

#header
  padding: 30px
  margin: -3px
  border: 10px solid black
  overflow: hidden

  height: 12px
  p.one
  border-style: groove
  border-color: white
  p.two
  border-style: groove
  border-color: black
  
  
#slogan
  background: #000000
  padding: 0px
  margin: -30px
  border: 1px solid white
  height: 70px
  width: 200px
  overflow: hidden
  border-style: dotted
  
  
#container
  padding: 30px
  margin: -3px
  border: 5px #8A0808
  overflow: hidden

  height: 45px
  border-style: groove

  
#left
  background-image: url('/images/bin 23 jordans.jpg')
  padding: 0px
  margin: -30px
  border: 1px solid white
  height: 103px
  width: 450px
  overflow: hidden
  border-style: dotted
  float: left
  
#right
  background: #8A0808
  padding: 0px
  margin: -30px
  border: 1px solid white
  height: 103px
  width: 480px
  overflow: hidden
  border-style: dotted
  float: right

        
#sidebar
  background: #000000
  padding: 3px
  margin: -3px
  border: 1px solid white
  height: 498px
  width: 148px
  overflow: auto
  border-style: dotted
  float: right
  
#sidecontainer
  padding: 3px
  margin: -3px
  border: 5px solid black
  overflow: hidden
  float: right
  height: 500px
  border-style: groove
  float: right

#content
  color: solid black
  padding: 10px
  margin: -3px
  background: #BDBDBD
  min-height: 600px
    
#footer
  padding: 30px
  
  

 

  


