h1
  color: #8A0808
  font: Bitstream Charter
  weight: bold
  font-family: Purisa
  text-align: center
  
h2
  color: #8A0808
  font-size: 15px
  text-align: center
  
  
h3
  color: white
  font-size: 20px
  font-family: exoctia
  text-align: center

h4
  color: white
  font-size: 18px

  text-align: center
  

